
.color1 {
    
}

.color1:hover {
    
}

.card {
    padding:1rem;
    height: 300px;
}

.card h1, p {
    width: 100%;
}


/* ===== */



.menu {
    display: flex;
    gap: 14px; /* Space between squares */
    /* padding: 20px; */
    width: 100%;
    height: 400px;
}

.menuItem {
    width: 100%; /* Each square takes 30% of the width */
    aspect-ratio: 1 / 1; /* Makes it a perfect square */
    position: relative;
    background: #f0f0f0;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.menuItem .image {
    transition: all .2s ease-in-out;
}

.menuItem:hover .image{
    transform: scale(1.2);
}

.image {
    transform: scale(1);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the square */
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--brand-blue);
        text-align: center;
    padding: 1.5rem;
    font-size: 16px;
    color: white;
    font-weight: normal;
    overflow: hidden;
    /* height: 100px; */
}

@media (max-width: 768px) {
    .menuItem {
        
    }
    
    .menu {
        /* margin-top: 20px; */
        height: 300px;
        display: flex;
        gap:14px;
        padding: 0;
        width: 100%;
    }
    .text {
        padding: 1.5rem 0;
    }
    
}