
  .cart {
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: white;
    border-radius: 8px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .cart input[type="number"] {
    color:var(--brand-blue);
    cursor: pointer;
    width: 100%;
    max-width: 60px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--brand-blue);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus effect */
.cart input[type="number"]:focus {
  border-color: var(--brand-blue);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Remove spinners/arrows for modern browsers */
.cart input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cart input[type="number"] {
  -moz-appearance: textfield; /* Remove arrows for Firefox */
}




.cartitems {
    margin-top: 1.5rem;
  }
  
  .cartitem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cartitemname {
    font-size: 16px;
    font-weight: bold;
  }
  
  .cartitemprice {
    font-size: 14px;
    color: #777;
  }
  
  .cartitemquantity {
    width: 40px;
    text-align: center;
  }
  
  .carttotal {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
  }
  

  .cartitemImageContainer {
    width: 130px; /* Adjust to desired size */
    height: 90px;
  }
  
  .cartitemImage {
    border-radius: 1rem;
    width: 100%; /* Make image fill the container */
    height: 100%;
    object-fit: cover; /* Ensure the image doesn't stretch */
  }

  @media (max-width: 768px) {
    .cart {
      margin-top: 1rem;
    }
  }