.header {
  padding:14px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2A4F6B; */
  animation-delay: 2.5s; /* Starts immediately */
}

.header.blinking {
  animation: blink 2.5s infinite ease-in-out; /* Apply blink animation */
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;  /* Removes the default bullet points */
    padding: 0;        /* Removes default padding */
  }
  
.li {
    padding:10px;
    margin-left: 20px; /* Space between list items */
    font-size: 15px;
    color:#2A4F6B;
    transition: color .2s ease-in-out;
    font-weight: normal!important;
  }

 

  .li:hover {
    color:#5F9DC0;
  }

.logo {
    min-width: 230px;
    animation-delay: 2.5s; /* Starts immediately */
    
}
.icon {
  margin-left:1rem;
  color:#2A4F6B;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .2s ease-in-out;

}

.cart {
  margin-left:1rem;
  color:#FFDF4D;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .2s ease-in-out;
  background-color: #2A4F6B;
  padding:.5rem;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
}
.cartbox {
  margin:0 2rem;
}
.cart p {
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.cart:hover {
  color: #326c99;
  background-color:#FFDF4D;
}
.active {
  font-weight: bolder!important;
}

.svg.popping {
  animation: pop 2.5s infinite ease-in-out;
}
.svg.popping {
  /* animation: pop 2.5s infinite ease-in-out;  */
}

.icon:hover {
  color:#5F9DC0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  color:#2A4F6B;
  cursor: pointer;
  visibility: hidden;
}

@media (max-width: 768px) {
  .header {
height: auto;
/* padding:.2rem .5rem; */
padding:14px 0;
      
  }
  .logo {
    min-width: 190px;
  }
  .icon {
    color:white;
  }
  .ul {
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    visibility: hidden;
    flex-flow: column;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #2A4F6B;
    gap:20px;
    transition: .2s all ease-in-out;
  }
  .ul.show {
    opacity: 1;
    visibility: visible;
  }
  .ul .li {
    color: white;
  }
  .burger {
    visibility: visible;
  }
  .icon {
    
  }
}


@keyframes blink {
  0% {
    background-color: #2A4F6B; /* Initial color */
  }
  50% {
    background-color: #326c99; /* Blinking color */
  }
  100% {
    background-color: #2A4F6B; /* Back to initial color */
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
