#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  
}
body {
  margin:0;
  padding: 0!important;
  background-color: #F5F5F5;
}
:root {
  /* --brand-blue: #1E3A56; */
  --brand-blue:#27537f;
  --brand-yellow: #f4ca53;
  --brand-darkeryellow: #dfc347;
  --brand-lightblue:#92AFD7;
  --brand-skyblue:#5DD9C1;
  --brand-pink:#D87CAC;
  --brand-darkpink:#b47d70;
  --brand-lighterpink:#ed88ab;
  --brand-canyongreen:#73937E;
}
