.header {
  padding:0 20px;
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A4F6B;
  animation-delay: 2.5s; /* Starts immediately */
}

.header.blinking {
  animation: blink 2.5s infinite ease-in-out; /* Apply blink animation */
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;  /* Removes the default bullet points */
    padding: 0;        /* Removes default padding */
  }
  
.li {
    padding:10px;
    margin-left: 20px; /* Space between list items */
    font-size: 15px;
    color:white;
    transition: color .2s ease-in-out;
    font-weight: normal!important;
  }

 

  .li:hover {
    color:#5F9DC0;
  }

.logo {
    width: 190px;
    animation-delay: 2.5s; /* Starts immediately */
    
}
.icon {
  margin-left:1rem;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .2s ease-in-out;

}

.cart {
  margin-left:1rem;
  color:#2A4F6B;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .2s ease-in-out;
  background-color: #FFDF4D;
  padding:.5rem;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
}
.cart p {
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.cart:hover {
  background-color: #326c99;
  color:#FFDF4D;
}
.active {
  color:#FFDF4D;
}


.logo.popping {
  animation: pop 2.5s infinite ease-in-out; /* Apply blink animation */
}

.icon:hover {
  color:#5F9DC0;
}

@media (max-width: 768px) {
  .header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-color: #2A4F6B;
    animation-delay: 2.5s; /* Starts immediately */
  }
  .logo {
    margin-top: 1.5rem;
  }
  .ul {
    margin-bottom: 1.5rem;    /* Removes default padding */
  }
  .icon {
    display: none;
  }
}

@keyframes blink {
  0% {
    background-color: #2A4F6B; /* Initial color */
  }
  50% {
    background-color: #326c99; /* Blinking color */
  }
  100% {
    background-color: #2A4F6B; /* Back to initial color */
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
